@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
/* 'Montserrat', sans-serif */
:root {
  --black: #18181c;
  --green: #4ade80; /*text-green-400*/
  --white: #fcf7f8;
  --grey: #d4d4d8; /*text-zinc-300*/
  --blue: #06b6d4; /*text-cyan-500*/
  --orange: #f97316; /*text-orange-500*/
  --yellow: #fde047; /*text-yellow-300*/
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 70px;
}

.body-size {
  width: 80vw;
  margin: auto;
  padding: 50px 0 150px;
}


.logo {
  color: #fff;
  padding: 20px;
  font-weight: 800;
  flex: 1 1;
  font-size: 1.5rem;
  text-decoration: none;
}

a.logo {
  color: #fff;
  text-decoration: none;
}

.colorlogo {
  color: #00ff33;
}

.hover-underline {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

a.hover-underline {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.hover-underline::after {
  transform: scaleX(0);
  transform-origin: bottom right;
  content: " ";
  display: block;
  inset: 0 0 0 0;
  border-bottom: 2px solid #fff;
  z-index: -1;
  transition: transform 0.3s ease;
}

a.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

ul {
  display: flex;
  justify-content: left;
  flex: 1;
}

li {
  list-style: none;
  padding: 20px;
  color: white;
}

.home-txt {
  padding: 0 15% 0 0;
  width: 50vw;
}

.home-txt p {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;
  letter-spacing: 0;
  margin: 20px 0 35px;
  color: #113441;
}

.text-home-photo {
  color: rgb(231 231 231);
}

h1.baseline {
  font-size: 5em;
  font-weight: 600;
  color: #fff;
  line-height: 80px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-around;
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.flex-container::after {
}

.flex-items:nth-child(2) {
  z-index: 1;
  position: absolute;
  display: flex;
  transform: translate(50%, -50%);
  top: 50%;
  right: 25%;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  align-self: center;
  order: 0;
  right: 0;
  text-align: end;
  z-index: 1;
}


.cta-call {
  background: #227c9d;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  transition: 1s;
  font-size: 18px;
  color: #fff;
}

.cta-call:hover {
  background-color: #2a96bd;
  cursor: pointer;
}

/***HOME***/
.head-title-banner {
  color: #0a2463;
  font-weight: 400;
  font-size: 1.1em;
}

.flexcontent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

.flex-row:nth-child(1) {
  grid-area: 1 / 1 / 4 / 3;
}

.flex-row:nth-child(2) {
  grid-area: 1 / 3 / 4 / 5;
}

.flex-row:nth-child(3) {
  grid-area: 1 / 5 / 4 / 7;
}

.section-post-home {
  display: flex;
  flex-direction: initial;
  flex-wrap: initial;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
  overflow: hidden;
  position: relative;
}


.grid-banner {
  position: relative;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 5px 5px;
  padding: 0;
}

/***USER PROFIL***/
.page-account {
  margin-bottom: 145px;
}

.badge {
  display: flex;
  padding: 40px 40px !important;
  margin-top: 50px !important;
  border-radius: 10px;
  background: hsl(0deg 0% 81% / 11%);
}

.picuser {
  width: 25%;
  display: flex;
  justify-content: center;
}

.infouser {
  width: 75%;
}

.biouser {
  margin: 20px 0;
  font-size: 1.1rem;
}

.infouser-detail {
  color: #0b544d;
}

.titleuser {
  font-weight: 800;
}

.profiluserinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.useredit {
  display: flex;
  border: 1px solid #dfdfdf;
  padding: 40px 40px !important;
  margin-top: 10px !important;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0px 2px 0 rgb(8 11 14 / 15%), 0 6px 10px 0px rgb(8 11 14 / 13%);
  flex-direction: row;
  flex-wrap: wrap;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #efefff;
  box-sizing: border-box;
  box-shadow: 0px 16px 45px -15px rgba(2, 5, 132, 0.2);
}
img.avatar {
  padding: 10px;
}

button.btn {
  display: block;
  position: relative;
  padding: 8px 30px;
  border: 2px solid #16a085;
  background: #16a085;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
  transition: 0.7s ease-in-out;
  margin: 10px auto 10px;
}
.btn:hover {
  border-color: #1abc9c;
  background-color: #1abc9c;
  cursor: pointer;
}

.change-img {
  position: relative;
  display: block;
}

input[type="file"] {
  display: none;
}

.label-file {
  position: absolute;
  cursor: pointer;
  color: #00b1ca;
}

.label-file:hover {
  color: #25a5c4;
}

button.btn-logout {
  padding: 8px 30px;
  border: 2px solid red;
  background: red;
  border-radius: 10px;
  margin: 0 0 20px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
  transition: 0.7s ease-in-out;
}

.btn-logout:hover {
  border-color: #ed2d5b;
  background-color: #ed2d5b;
  cursor: pointer;
}

.input-user {
  border: 1px solid #c3c3e4;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  padding: 5px 10px;
  width: 70%;
}

/***CARD***/
.hover-scale-card {
  transition: 0.5s ease-in-out;
}

.hover-scale-card:hover {
  transform: scale3d(1.01, 1.01, 1.01);
  z-index: 1;
}

.link-card {
  bottom: 0;
  width: 100%;
  background: #fff;
  height: 100px;
  padding: 20px;
}

.spot-nom-two {
  color: #113441;
  text-decoration: none;
  font-weight: 600;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.link-dep {
  color: #16a084;
  text-decoration: none;
  font-weight: 600;
}

.home-gallery-img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  box-shadow: 0 0px 2px 0 rgb(8 11 14 / 15%),
    0 6px 10px 0px rgb(8 11 14 / 13%);
}

/***MAP***/
.map-single {
  width: 100%;
  position: relative;
  height: 60vh;
}

/*** SINGLE POST ***/
.padding-one-pourcent {
  padding: 1%;
}

[id="heart"] {
  overflow: hidden;
  position: absolute;
  z-index: -1;
} 

[for="heart"] {
  color: #272b2e;
  cursor: pointer;
  font-size: 1.3em;
  align-self: center;
  transition: color 0.2s ease-in-out;
  padding-right: 5px;
}

[for="heart"]:hover {
  color: #000;
}

[for="heart"]::selection {
  color: none;
  background: transparent;
}

[for="heart"]::moz-selection {
  color: none;
  background: transparent;
}

[id="heart"]:checked + label, [id="heart"]:focus :active {
  color: #e2264d;
  will-change: font-size;
}

.redHeart:active {
  color: #e2264d;
}

.single-image {
  height: calc(100vh - 70px);
}

.labelFileAddPic:hover {
  cursor: pointer;
}